*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
font-size: 45px;
font_weight: 900;
}

 .color-orange{
    color: #FD6E0A; 
 }

 .btn{
    background-color:#FD6E0A ;
    padding: 19px 36px;
    font-size: 20px;
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
 }
/* main style */

header {
    background-color: #fff8f3;
    background: url("../hero-dev-portfolio-resources/images/developer.png"), url("../hero-dev-portfolio-resources/images/header_bg.png"),#fff8f3;
    background-position:top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 51px;
}

nav{
    width: 76%;
    max: width 1020px; ;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

#banner{
    /* border: 1px solid black; */
    margin: 47px 38px 0 230px;
    display: flex;
}
.banner-content{
    max-width: 1020px;
}

.banner-content h2 {
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin: bottom 5px;
}

.banner-content h1 {
    color:#181818;
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.banner-image img{
    max-width: 585px;
    vertical-align: middle;
}

#about{
   padding-top: 130px;
}
#about .about-container{
    width:76%;
    max-width: 1020px;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 157px;
}

.section-heading{
    max-width: 827px;
    text-align: center;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.secttion-heading p{
   font-size: 18px;
   margin-bottom:30px;
   line-height: 30px;
    color: #757575;
}

#about .about-container .about-info {
display: flex;
justify-content: space-around;
}

.about-info .info-card p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    color: #757575;
    gap: 50px;
}

.about-info .info-card h4 {
    font-size: 20px;
    
}