*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
font-size: 45px;
font_weight: 900;
}

 .color-orange{
    color: #FD6E0A; 
 }

 .btn{
    background-color:#FD6E0A ;
    padding: 19px 36px;
    font-size: 20px;
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
 }
/* main style */

header {
    background-color: #fff8f3;
    padding-top: 51px;
}

nav{
    width: 71%;
    max: width 1140px; ;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

